<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>netctoss</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <!--资费处理的servlet  -->
  <servlet>
  	<servlet-name>costMainServlet</servlet-name>
  	<servlet-class>Servlets.costMainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>costMainServlet</servlet-name>
  	<url-pattern>*.costmain</url-pattern>
  </servlet-mapping>
 <!--登录处理的servlet --> 
  <servlet>
  	<servlet-name>loginServlet</servlet-name>
  	<servlet-class>Servlets.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>loginServlet</servlet-name>
  	<url-pattern>*.loginmain</url-pattern>
  </servlet-mapping>
</web-app>